
.square{
    box-sizing: border-box;
    float:left;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
    cursor:pointer;
}
body {
    font-family: "Arial", sans-serif;
}
section {
    text-align: center;
}
.game_board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    margin: 50px auto 0 auto;
    overflow: hidden;
}
button {
background: cyan;
color: #000000;
font-weight: bold;
border: 1px solid yellow;
cursor: pointer;
width: 160;
height: 40px;
font-size: 22px;
display:block;
margin: 10px auto;
}